.page {
    width: 780xp;
    background-color: gainsboro;
    margin: 50px 250px;
    padding: 20px;
    font-family: 'Source sans Pro',Calibri, Tahoma, sans-serif;
    font-size: 16px;
    border: 5px solid navy;
    border-radius: 10px;
    box-shadow: 2px 3px 4px navy;

}
.infophoto {
    height: 200px;
    background-color: mediumvioletred;
}


.info{
    margin-left: 250px;
    font-size: 18px;
}
#presentation p{
    margin-top: 20px;
    color: mintcream;
}
.photo{
    float: left;
}
.section{
    margin-bottom: 50px;
    text-align: justify;
}
h2{
    font-size: 24px;
    color: mediumblue;
    border-bottom: 3px solid navy;
}
.NomEtablissement, .Profil{
    font-weight: bold;    
}

.titre{
    font-weight: bold;
    font-style: italic;
}
.nom{
    font-size: 24px;
    font-weight: bold;
    color: mintcream;
}
.monprofil{
    font-size: 22px;
    color: cornflowerblue;
}
.contact{
    display: inline;
    font-size: 16px;
    margin-top: 20px;
}
